<!DOCTYPE html>
<html>
<head>
    <title>Payment Successful</title>
</head>
<body>
    <h1>Payment Successful</h1>
    <p>Thank you for your payment. Your transaction was successful.</p>
    <form method="post" asp-controller="Cart" asp-action="Index">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Tiền mặt</button>
    </form>
</body>
</html>
